<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="coinSpotKey" value="" />
        <add key="coinSpotSecret" value="" />
        <add key="coinSpotSite" value="https://www.coinspot.com.au"/>
        <add key="spreadSheetId" value=""/>
        <add key="updateTimerMinutes" value="0"/>
        <add key="myCurrency" value="AUD"/>

        <add key="SpentRange" value="Summary!G5" />
        <add key="UpdateDateRange" value="Summary!G4" />
        <add key="TotalValueRange" value="Summary!G6" />
        <add key="UpdateTimeRange" value="Summary!H4" />
        <add key="ValueTable" value="Table!B2" />
        <add key="GainsTable" value="Table!F2" />

    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>